
eclipse/logs/2017-11-29-3.log.gz
eclipse/config/splash.properties
.idea/artifacts/GT_Redtech_jar.xml
classes/artifacts/GT_Redtech_jar/GT-Redtech.jar
eclipse/config/IC2.ini
eclipse/config/splash.properties
eclipse/config/IC2.ini
eclipse/logs/2017-11-29-1.log.gz
eclipse/config/IC2.ini
eclipse/config/splash.properties
eclipse/config/splash.properties
*.log
.gradle/2.0/taskArtifacts/taskArtifacts.bin
.gradle/2.0/taskArtifacts/outputFileStates.bin
.gradle/2.0/taskArtifacts/fileSnapshots.bin
.gradle/2.0/taskArtifacts/fileHashes.bin
.gradle/2.0/taskArtifacts/cache.properties.lock
.gradle/2.0/taskArtifacts/cache.properties
.idea/gradle.xml
.idea/workspace.xml
GT-Redtech.iml
